{% extends 'views/layout.html.twig' %}

{% block headnavstylesheets %}{% endblock %}
{% block headnavscripts %}{% endblock %}

{% block headfooterstylesheets %}{% endblock %}
{% block headfooterscripts %}{% endblock %}

{% block pagestylesheets %}{% endblock %}
{% block pagescripts %}{% endblock %}

{% block main %}
    <main>
        <p>Párrafo por defecto en main</p>
    </main>
{% endblock %}