/* a,button,input[type="button"],input[type="submit"],input[type="reset"],input[type="file"],input[type="checkbox"],input[type="radio"],select {
    cursor: pointer;
}
input[type="text"], textarea {
    cursor: text;
} */

/* .daterangepicker { position: relative; } */

input.input-error {
    border-color: red !important;
}
label.input-error {
    color: red !important;
    font-size: .8em !important;
    margin-top: 2.6em !important;
}
.inputBig-error {
    border: 2px solid red !important;
}

.input-true {
    color: green !important;
    font-size: .8em !important;
    font-weight: bold;
}
.fa-solid.fa-circle-check {
    font-size: 1.4em;
}

#create-route {
    ul, ul p, div[name="information"] label {
        /* Reset styles */
        list-style: none;
        padding: 0;
        margin: 0;
        /* cursor: default; */
    }
    div[name="information"] label {
        margin-top: 1em;
    }
    div[name="information"] input[name="capacity"] {
        width: 2.6em;
        padding: 0.3em 0;
    }

    display: flex;
    justify-content: center;
}
#tabs { width: 100%; height: 85vh; }

/* Information */
div[name="information"] /*,fieldset[name="information"]*//*, fieldset[name="configuration"]*/ {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(13, 2em);
    grid-gap: 1em;

    div.richText {
        height: auto;
        min-height: auto;
        /* max-height: auto; */
        overflow-y: auto;
    }

    i[name="btnOpenMap"] {
        cursor: pointer;

        font-size: 4em;
        margin: auto;
    }
    i[name="btnOpenMap"]:hover {
        color: gray;
    }

    /* Image FROM drag&drop file uploader */
    div.uploaded-image {
        margin: 0 !important;
        position: static !important;
    }
    div.uploaded-image > img {
        width: 96% !important;
    }
    .image-uploader {
        min-height: auto;
        height: 100%;
    }

    /* Name */
    label[for="name"]   { grid-area: 1 / 1 / 2 / 2; }
    input[name="name"]  { grid-area: 2 / 1 / 3 / 2; }
    label#name-error    { grid-area: 2 / 1 / 3 / 2; margin-top: 2em; display: none; }

    label[for="description"]    { grid-area: 4 / 1 / 5 / 5; }
    div.richText                { grid-area: 5 / 1 / 9 / 5; }
    /* textarea[name="description"] { grid-area: 4 / 3 / 8 / 5; } */
    label#description-error     { grid-area: 8 / 1 / 9 / 5; margin-top: 2em; display: none; }

    label[for="upload-image"]   { grid-area: 4 / 5 / 5 / 7; }
    div[name="upload-image"]    { grid-area: 5 / 5 / 9 / 7; }
    label#upload-image-error    { grid-area: 8 / 5 / 9 / 7; margin-top: 2em; display: none; }

    /* Mapa */
    button[name="btnOpenMap"]   { grid-area: 1 / 5 / 4 / 6; }
    i[name="btnOpenMap"]        { grid-area: 1 / 5 / 4 / 6; border-radius: 20px; padding: 6px;}
    label#btnOpenMap-error      { grid-area: 3 / 5 / 4 / 6; margin-top: 1em !important; display: none; text-align: center; }
    
    /* Capacity */
    label[for="capacity"]   { grid-area: 1 / 4 / 2 / 5; }
    input[name="capacity"]  { grid-area: 2 / 4 / 3 / 5; }
    label#capacity-error    { grid-area: 2 / 4 / 3 / 5; margin-top: 2em; }
    
    /* Range dates */
    label[for="daterange"]  { grid-area: 1 / 2 / 2 / 4; }
    input[name="daterange"] { grid-area: 2 / 2 / 3 / 4; }
    label#daterange-error   { grid-area: 2 / 2 / 3 / 4; margin-top: 2em; }
}

/* Items */
fieldset[name="items"] {
    /* display: flex;
    justify-content: space-around; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    label#sortable2-error { display: none; }
    
    .item {
        padding: 0;
        border: 1px solid black;
        margin: .5em;
        cursor: move;
    }
    .item:active { 
        width: 7em; 
        height: 7em; 
    }
    .item:hover  { background-color: rgb(189, 189, 189); }
    .item:active { background-color: rgb(138, 138, 138); }


    >section{
        border: 1px solid black;
        padding: 2em;
    }

    section[name="select-items"]    img[name="item-image"] { width: 7em; }
    section[name="selected-items"]  img[name="item-image"] { width: 14em; }

    section[name="selected-items"] > ul > li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1em;
        border: 1px solid black;
        margin-bottom: .5em;
    }


    /* Select items AND Selected items - <ul>List */
    ul[name="select-items"], ul[name="selected-items"] {
        border: 1px solid black;
        list-style: none;
        padding: 0;
        overflow-y: auto;
        overflow-x: hidden;
        max-height: 18em;
        min-height: 18em;
    }

    li {
        padding: .5em 2em;
        margin-bottom: .4em;
        cursor: move;
    }


    /* Select items */
    ul[name="select-items"] {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, auto);
    }
    section[name="select-items"] li.item {
        display: flex;
        /* flex-direction: column; */
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
    }

    /* Selected items */
    section[name="selected-items"] li.item > img[name="item-image"] {
        width: 20em;
    }
}

/* Programation */
fieldset[name="programation"] {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: repeat(2, 8em); */
    grid-template-rows: repeat(2, auto);


    section[name="programation-configure"] {
        grid-area: 1 / 1 / 2 / 2;

        display: grid;
        grid-template-columns: auto 3fr auto 3fr 2fr;
        grid-template-rows: 2em 2em 2em 4em 2em;

        label[for="period"]         { grid-area: 1 / 1 / 2 / 2; }
        input[name="period"]        { grid-area: 1 / 2 / 2 / 3; }
        label#period-error          { grid-area: 1 / 1 / 2 / 3; display: none; }

        label[for="time"]           { grid-area: 1 / 3 / 2 / 4; }
        input[name="timepicker"]    { grid-area: 1 / 4 / 2 / 5; }
        label#time-error            { grid-area: 1 / 3 / 2 / 5; display: none; text-align: end; }

        label[for="daysOfWeek"]          { grid-area: 3 / 1 / 4 / 6; }
        div[name="container-daysOfWeek"] { grid-area: 4 / 1 / 5 / 6; }
        label#pattern-error              { grid-area: 4 / 1 / 5 / 6; display: none; margin-top: 5.4em !important; }

        label[for="period"], label[for="time"] { padding-right: .4em; }
        label[for="time"] { margin-left: 1em; }
        label[for="daysOfWeek"] { padding-top: 1em; margin-top: .4em; }
        input[name="timepicker"] { width: 80px; cursor: pointer; }
        input[type="checkbox"] { cursor: pointer; }

        div[name="container-daysOfWeek"] {
            display: flex;
            gap: .2em;
            margin-top: 1.4em;

            .dayOfWeek {
                background-color: lightblue;
                padding: .4em .8em;
                cursor: pointer;
                border-radius: 20px;
            }
            .dayOfWeek:hover {
                background-color: blue !important;
                color: white;
            }
            .dayOfWeek:active {
                background-color: darkblue !important;
            }

            .dayOfWeek.selected {
                background-color: darkblue;
                color: white;
            }
        }
    }
    section[name="programation-select-guide"] {
        grid-area: 1 / 2 / 3 / 3;

        label#slctguide-error {
            display: none; 
            margin: 0 !important;
            margin-bottom: .3em !important;
            font-size: 1em !important;
        }

        .guide {
            /*width: 9em;*/ 
            /* height: 11em;  */
            height: auto; 
            padding: 6px;
        }
        .guide:hover { 
            cursor: pointer;
            opacity: .8;
            border: 2px solid lightgray;
            border-radius: 10px;
            padding: 4px;
        }

        .guide.selected {
            background-color: lightgray;
            color: darkblue;
        }
        
        .guide > img {
            /* width: 100%; */
            /* height: auto; */
            /* height: 90%; */

            width: 9em;
            height: 9em;
            border-radius: 20px;
        }
        .guide > img:hover { border-radius: 10px; }

        ul {
            display: grid;
            grid-template-columns: repeat(3, 1fr);

            text-align: center;
            overflow-y: auto;
            max-height: 300px;
        }
    }
    section[name="programation-table"] {
        grid-area: 2 / 1 / 3 / 2;

        table, td, tr, th {
            border: 1px solid black;
            border-collapse: collapse;
        }
    }


}