/* a,button,input[type="button"],input[type="submit"],input[type="reset"],input[type="file"],input[type="checkbox"],input[type="radio"],select {
    cursor: pointer;
}
input[type="text"], textarea {
    cursor: text;
} */

/* .daterangepicker { position: relative; } */

#create-route {
    ul, ul p, div[name="information"] label {
        /* Reset styles */
        list-style: none;
        padding: 0;
        margin: 0;
        /* cursor: default; */
    }
    div[name="information"] label {
        margin-top: 1em;
    }
    div[name="information"] input[name="capacity"] {
        width: 2.6em;
        padding: 0.3em 0;
    }

    display: flex;
    justify-content: center;
}
#tabs { width: 100%; height: 85vh; }

/* Information */
div[name="information"] /*,fieldset[name="information"]*//*, fieldset[name="configuration"]*/ {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(13, 2em);
    grid-gap: 1em;

    /* display: flex;
    flex-direction: column; */

    >* {
        /* border: 1px solid; */
    }
    /* >label {
        display: flex;
        align-items: center;
    } */
    div.richText {
        height: auto;
        min-height: auto;
        /* max-height: auto; */
        overflow-y: auto;
    }

    i[name="btnOpenMap"] {
        cursor: pointer;

        font-size: 4em;
        margin: auto;
    }
    i[name="btnOpenMap"]:hover {
        color: gray;
    }

    .image-uploader {
        min-height: auto;
        height: 100%;
    }

    /* Name */
    label[for="name"] { grid-area: 1 / 1 / 2 / 2; }
    input[name="name"] { grid-area: 2 / 1 / 3 / 2; }

    /* Description TODO 4*/
    label[for="description"] { grid-area: 3 / 1 / 4 / 2; }
    /* textarea[name="description"] { grid-area: 4 / 3 / 8 / 5; } */
    div.richText { grid-area: 4 / 1 / 9 / 3; }

    /* Upload images TODO 3*/
    label[for="upload-image"] { grid-area: 4 / 3 / 5 / 4; }
    div[name="upload-image"] { grid-area: 5 / 3 / 9 / 6; }

    /* Mapa */
    button[name="btnOpenMap"] { grid-area: 1 / 2 / 4 / 3; }
    i[name="btnOpenMap"] { grid-area: 1 / 2 / 4 / 3; }
    
    /* Capacity */
    label[for="capacity"] { grid-area: 1 / 5 / 2 / 6; }
    input[name="capacity"] { grid-area: 2 / 5 / 3 / 6; }
    /* input[name="capacity"] { grid-area: 1 / 4 / 2 / 5; } */
    
    /* Range dates */
    label[for="daterange"] { grid-area: 1 / 3 / 2 / 4; }
    input[name="daterange"] { grid-area: 2 / 3 / 3 / 5; }
}

/* Items */
fieldset[name="items"] {
    /* display: flex;
    justify-content: space-around; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
    .item {
        padding: 0;
        border: 1px solid black;
        margin: .5em;
        cursor: move;
    }
    .item:active { 
        width: 7em; 
        height: 7em; 
    }
    .item:hover { 
        background-color: rgb(189, 189, 189);
    }
    .item:active { 
        background-color: rgb(138, 138, 138);
    }


    >section{
        border: 1px solid black;
        padding: 2em;
    }

    section[name="select-items"] img[name="item-image"] {
        width: 7em;
    }
    section[name="selected-items"] img[name="item-image"] {
        width: 14em;
    }

    section[name="selected-items"] > ul > li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1em;
        border: 1px solid black;
        margin-bottom: .5em;
    }


    /* Select items AND Selected items - <ul>List */
    ul[name="select-items"], ul[name="selected-items"] {
        border: 1px solid black;
        list-style: none;
        padding: 0;
        overflow-y: auto;
        overflow-x: hidden;
        max-height: 18em;
        min-height: 18em;
    }

    li {
        padding: .5em 2em;
        margin-bottom: .4em;
        cursor: move;
    }


    /* Select items */
    ul[name="select-items"] {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, auto);
    }
    section[name="select-items"] li.item {
        display: flex;
        /* flex-direction: column; */
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
    }

    /* Selected items */
    section[name="selected-items"] li.item > img[name="item-image"] {
        width: 20em;
    }
}

/* Programation */
fieldset[name="programation"] {
    display: grid;
    grid-template-columns: 1fr 1fr;

    section[name="programation-configure"] {
        input[name="timepicker"] { width: 80px; }
        input[type="checkbox"] { cursor: pointer; }

        div[name="container-daysOfWeek"] {
            display: flex;
            gap: .2em;

            .dayOfWeek {
                background-color: lightblue;
                padding: 0.4em 1em;
                cursor: pointer;
                border-radius: 20px;
            }
            .dayOfWeek:hover {
                background-color: blue !important;
                color: white;
            }
            .dayOfWeek:active {
                background-color: darkblue !important;
            }

            .dayOfWeek.selected {
                background-color: darkblue;
                color: white;
            }
        }
    }
    section[name="programation-select-guide"] { 
        .guide { width: 180px; height: 150px; padding: 2px; }
        .guide:hover { 
            cursor: pointer;
            opacity: .8;
            border: 2px solid lightgray;
            border-radius: 10px;
            padding: 0;
        }

        .guide.selected {
            background-color: lightgray;
            color: darkblue;
        }
        
        .guide > img {
            width: 100%;
            /* height: auto; */
            height: 90%;
        }
        .guide > img:hover { border-radius: 10px; }

        ul {
            display: grid;
            grid-template-columns: repeat(3, 1fr);

            overflow-y: auto;
            max-height: 300px;
        }
    }
    section[name="programation-table"] {
        grid-column: 1/3;

        table, td, tr, th {
            border: 1px solid black;
            border-collapse: collapse;
        }
    }


}