{# templates/security/login.html.twig #}
{% extends 'views/main.html.twig' %}

{% block title %}Iniciar sesión{% endblock %}

{% block main %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form method="post" action="{{ path('action-login') }}">
        <label for="username">Email:</label>
        <input type="text" id="username" name="_username" required value="{{last_username}}">

        <label for="password">Password:</label>
        <input type="password" id="password" name="_password" required>

        <button type="submit">Login</button>
    </form>
{% endblock %}
